.wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    & h1 {
        background: linear-gradient(90deg, #2dca36 10%, #ed1b26 50%, #c41c8b 10%);
        background-clip: text;
        color: transparent;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
}
